body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
}

.main.container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 5em 2em;
  max-width: 990px;

  @media (max-width: 767px) {
    padding: 4em 2em 7em;
  }
}

.input {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.content .header {
  line-height: 1.3;
}

.ui.icon.message {
  background: none;
  box-shadow: none;
}

.selected {
  background: rgb(240, 243, 241) !important;
}

.negative.message::first-letter {
  text-transform: uppercase;
}

.primary.button {
  width: 100%;
}

/* Mobile view */
@media only screen and (max-width: 767px) {
  #category-column {
    order: 1;
  }
  #game-column {
    order: 2;
  }
}

/* Desktop view */
@media only screen and (min-width: 768px) {
  #category-column {
    order: 2;
  }
  #game-column {
    order: 1;
  }
}

@media only screen and (max-width: 992px) {
  iframe {
    width: 100% !important;
  }
}
